.aboutStyle {
    border: 5px solid goldenrod;
    border-radius: 5px;
    margin-left: 12rem;
    width: 70% !important;
    height: 80%;

}
.img-Style{
    width: 5rem;
    height: 5rem;
}
.title {
    text-align:center;
    font-size:5rem;
    color:lightcoral;
}
.contactMain {
    display:"flex";
    justify-content:center;
    gap:1rem
}
.contactIcon {
    width:15rem;
    height:10rem;
    background-color:lavender
}
.iconAlign {
    display:flex;
    justify-content:center;
    flex-direction:column;
    align-items:center;
    padding:30px;
}
.iconStyle {
    width:2rem;
    height:2rem
}
.knowmore {
    width:6rem;
    height:2rem;
    border-radius:5px;
    background-color:darkgrey;
    color:white;
    text-align:center;
    margin-left: 40%;
    cursor: pointer;
}
